@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.App
{	
	color: white;
	height: 100vh ;
	width: 100% ;
	font-family: 'Noto Sans', sans-serif;
}

*:focus
{
	outline: 0;
}

.App p, .App h1, .App h3 
{
	margin-top: 0 ;
}